/*
    Structure
    ------------------------------------------
    1. Base style
    2. Header
    3. Content
    4. Form style
*/

/* 1. base style ---------------------------*/

body {
    width: 900px;
    /*margin: 0px auto;*/
    font: 11px Tahoma, Helvetica, sans-serif;
}

/*a {*/
/*color: #0e69c5;*/
/*}*/

/*a:hover {*/
/*color: #fa823a;*/
/*text-decoration: none;*/
/*}*/

.clear {
    clear: both;
}

/* 2. header ---------------------------*/

#header {
    background: url(../images/bg_header.png) left top no-repeat;
    position: relative;
    height: 240px;
}

#header h1 {
    display: none;
}

#header address {
    font-size: 90%;
    text-align: right;
}

#header .rss {
    background: url(../images/rss.png) no-repeat;
    float: left;
}

#header .rss a {
    display: block;
    height: 13px;
    width: 13px;
    text-indent: -9999px;
}

#header #carousel-menu {
    float: left;
    height: 50px;
    width: 611px;
}

#header #carousel-menu ul {

}

#header #carousel-menu li {
    float: left;
}

#header #carousel-menu li a {
    display: block;
}

#header #carousel-menu .btnPrev,
#header #carousel-menu .btnNext {
    float: left;
}

#header #carousel-menu .btnPrev a,
#header #carousel-menu .btnNext a {
    background: url(../images/arrows.png);
    display: block;
    height: 15px;
    width: 16px;
    text-indent: -9999px;
}

#header #carousel-menu .btnPrev a {
    background-position: top left;
}

#header #carousel-menu .btnPrev a:hover {
    background-position: bottom left;
}

#header #carousel-menu .btnNext a {
    background-position: top right;
}

#header #carousel-menu .btnNext a:hover {
    background-position: bottom right;
}

#header .icons {
    float: left;
}

#header .icons ul {

}

#header .icons ul li {
    float: left;
}

#header .icons ul li a {
    background: url(../images/icons.png);
    display: block;
    height: 13px;
    width: 14px;
    text-indent: -9999px;
}

#header .icons ul li.home-icon a {
    background-position: 0px 0px;
}

#header .icons ul li.home-icon a:hover {
    background-position: 0px 13px;
}

#header .icons ul li.mail-icon a {
    background-position: 28px 0px;
}

#header .icons ul li.mail-icon a:hover {
    background-position: 28px 13px;
}

#header .icons ul li.sitemap-icon a {
    background-position: 14px 0px;
}

#header .icons ul li.sitemap-icon a:hover {
    background-position: 14px 13px;
}

/* 3. content style ---------------------------*/

/* 4. form style ------------------------------*/
#login-form {
    float: left;
    font-size: 90%;
}

#login-form h3 {

}

#login-form dl {

}

#login-form dt {
    float: left;
}

#login-form dd {
    font-size: 80%;
    margin-left: 40px;
}