/*
    Structure
    ------------------------------------------
    1. Base style
    2. Header
    3. Content
    4. Form style
*/

/* 1. base style ---------------------------*/

html {
    height: 100%;
}

body {
    color: #4d8eb5;
    font: 11px Tahoma, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
}

span {
    display: none;
}

a {
    color: #0094d9;
    text-decoration: none;
}

.top,
.footer {
    background: #fff url(../images/bg_field.png) left top repeat-x;
    height: 28px;
    width: 100%;
}

.top {
    margin-bottom: -3px;
}

.footer {
    margin: -28px auto 0px;
    position: relative;
    width: 900px;
}

#wrapper {
    background: url(../images/bg_header.png) #fff left top no-repeat;
    width: 900px;
    margin: 0 auto;
    min-height: 100%;
}

/* 2. header ---------------------------*/

#header {
    height: 190px;
    padding-top: 28px;
    position: relative;
}

#header h1 {
    float: left;
    margin-left: 360px;
}

#header h1 a {
    display: block;
    height: 35px;
    width: 180px;
}

#header address {
    border: 0px;
    font-size: 90%;
    text-align: right;
}

#header .rss {
    background: url(../images/rss.png) no-repeat;
    float: left;
    margin: 111px 130px 0px 0px;
}

#header .rss a {
    display: block;
    height: 13px;
    width: 13px;
}

#header #carousel-menu {
    float: left;
    margin-top: 71px;
    width: 613px;
}

#header #carousel-menu ul {
    margin: 0px auto;
    position: relative;
    width: 562px;
}

#header #carousel-menu li {
    background: url(../images/flags.png) no-repeat;
    float: left;
    font-size: 90%;
    height: 43px;
    width: 85px;
}

.bottom {
    margin: 10px 0px 0px 6px;
}

.middle {
    margin: 4px 0px 0px 6px;
}

#header #carousel-menu li.bottom {
    background-position: 0px 0px;
}

#header #carousel-menu li.bottom+li.middle {
    background-position: 0px -43px;
    margin-left: 5px;
}

#header #carousel-menu li.middle+li {
    background-position: 0px -86px;
    margin-left: 5px;
}

#header #carousel-menu li+li {
    background-position: 0px -129px;
    margin-left: 15px;
}

#header #carousel-menu li+li.middle {
    background-position: 0px -172px;
    margin-left: 8px;
}

#header #carousel-menu li.middle+li.bottom {
    background-position: 0px -215px;
    margin-left: 5px;
}

#header #carousel-menu li a {
    display: block;
    margin: 24px auto 0px;
    padding-left: 3px;
    text-align: center;
    width: 70px;
}

#header #carousel-menu .btnPrev {
    float: left;
}

#header #carousel-menu .btnNext {
    float: right;
}

#header #carousel-menu .btnPrev a,
#header #carousel-menu .btnNext a {
    background: url(../images/arrows.png);
    display: block;
    height: 15px;
    margin-top: 38px;
    width: 16px;
}

#header #carousel-menu .btnPrev a {
    background-position: top left;
}

#header #carousel-menu .btnPrev a:hover {
    background-position: bottom left;
}

#header #carousel-menu .btnNext a {
    background-position: top right;
}

#header #carousel-menu .btnNext a:hover {
    background-position: bottom right;
}

#header .icons {
    float: right;
    margin-top: 111px;
}

#header .icons ul {
    border: 0px;
}

#header .icons ul li {
    float: left;
}

#header .icons ul li a {
    background: url(../images/icons.png);
    display: block;
    height: 13px;
    margin-left: 7px;
    width: 14px;
}

#header .icons ul li.home-icon a {
    background-position: 0px 0px;
}

#header .icons ul li.home-icon a:hover {
    background-position: 0px 13px;
}

#header .icons ul li.mail-icon a {
    background-position: 28px 0px;
}

#header .icons ul li.mail-icon a:hover {
    background-position: 28px 13px;
}

#header .icons ul li.sitemap-icon a {
    background-position: 14px 0px;
    margin-left: 6px;
}

#header .icons ul li.sitemap-icon a:hover {
    background-position: 14px 13px;
    margin-left: 6px;
}

#main-menu ul {
    line-height: 0px;
    text-align: justify;
    margin-bottom: 4px;
}

#main-menu ul:after {
    content: '';
    display: inline-block;
    height: 0px;
    overflow: hidden;
    visibility: hidden;
    width: 100%;
}

#main-menu ul li {
    display: inline-block;
    line-height: normal;
    text-align: left;
}

#main-menu ul li a {
    display: inline;
    text-align: left;
}

#main-menu ul li a:hover {
    text-decoration: underline;
}

/* 3. content style ---------------------------*/

#content {
    overflow: hidden;
    padding-bottom: 28px;
}

#content .main {
    float: left;
    margin-left: 174px;
    width: 552px;
}

#content .main h2 {
    font-size: 1.3em;
    margin: -1px 5px 0px 81px;
}

#content .main h2+p {
    color: #a9bdd4;
    font-size: 0.8em;
}

#content .main p+p {
    margin: 0px 5px 16px 81px;
}

#content .main img {
    float: left;
    height: 61px;
    margin: 2px 10px;
    width: 61px;
}

#content .menu-bar {
    float: left;
    margin-left: -726px;
    width: 174px;
}

#content .menu-bar ul {
    margin-left: 10px;
}

#content .menu-bar ul li {
    margin-bottom: 7px;
}

#content .side-bar {
    float: right;
    padding-top: 3px;
    width: 174px;
}

/* 4. form style ------------------------------*/

#loginform {
    font-size: 0.9em;
    width: 100px;
    height: 53px;
    overflow: hidden;
    /*padding: 2px;*/
    position: absolute;
    left: 0px;
}

#loginform h2 {
    margin: 0px 0px 2px 0px;
}

#loginform > div {
    float: left;
    width: 100%;
    height: 11px;
    /*margin-bottom: 5px;*/
}

#loginform label {
    float: left;
    width: 40px;
    position: relative;
    top: -1px;
    /*margin-left: 2px;*/
    /*height: 11px;*/
}

#loginform input[type=text], #loginform input[type=password] {
    background: #fff url(../images/form_input.png) no-repeat;
    width: 53px;
    border: 0px;
    /*height: 11px;*/
}

#loginform > div input[type=submit] {
    background: #fff;
    font-size: 1.1em;
    text-decoration: underline;
    color: #0094d9;
    width: 3em;
    border: 0px;
    cursor: pointer;
    height: 1.4em;
}

/*#login {*/
    /*color: #a9bdd4;*/
    /*font-size: 90%;*/
    /*position: absolute;*/
    /*width: 95px;*/
    /*left: 0px;*/
/*}*/

/*#login h2 {*/
    /*margin-left: 3px;*/
/*}*/

/*#login form {*/
    /*margin: 2px 0px 3px 0px;*/
/*}*/

/*#login-form label,*/
/*#login-form input {*/
    /*margin-top: -1px;*/
    /*margin: 2px -1px 3px 0px;*/
/*}*/

/*#login-form label {*/
    /*float: left;*/
/*}*/

/*#login-form input {*/
    /*margin-left: 50px;*/
/*}*/

/*div.row {margin:0 0 5px 0;float:left;width:100%;padding:6px 0;}*/
/*div.row label {float:left;display:block;width:15em;font-weight:bold;padding:0 6px;}*/
/*div.row label:hover {background:#FFFF66;cursor:pointer;}*/
/*div.row fieldset {border:1px solid gray;margin:0 6px;}*/
/*div.row fieldset span {float:left;display:block;}*/
/*div.row fieldset span label {float:none;display:inline;}*/
/*div.row fieldset legend {font-weight:bold;}*/
/*div.requiredRow {border:2px solid #049;}*/

/*#login-form input[type='submit']::-moz-focus-inner {*/
    /*border: 0;*/
    /*padding: 0;*/
/*}*/

/*#login-form input[type="submit"] {*/
    /*background: #fff;*/
    /*border: 0px;*/
    /*color: #0094d9;*/
    /*cursor: pointer;*/
    /*font-size: 1.1em;*/
    /*margin: 3px 5px 0px 1px;*/
    /*text-align: left;*/
    /*text-decoration: underline;*/
    /*width: 35px;*/
/*}*/

/*#login-form input[type="text"],*/
/*#login-form input[type="password"] {*/
    /*background: #fff url(../images/form_input.png) no-repeat;*/
    /*border: 0px;*/
    /*cursor: text;*/
    /*height: 11px;*/
    /*width: 53px;*/
/*}*/